@use "/src/assets/_Variables" as *;
html {
  /* 전체 스크롤 바 스타일 */
  ::-webkit-scrollbar {
    width: 10px; /* 세로 스크롤 바 너비 */
    height: 10px; /* 가로 스크롤 바 높이 */
  }

  /* 스크롤 바 트랙 (배경) */
  ::-webkit-scrollbar-track {
    background: $sub-color;
    border-radius: 10px;
  }

  /* 스크롤 바 핸들  */

  ::-webkit-scrollbar-thumb {
    background: #ffeb35;

    border-radius: 10px;
  }
  @media screen and (max-width: 390) {
    background: #ffeb35;
    border-radius: 10px;
  }

  /* 스크롤 바 핸들 호버 시 */
  ::-webkit-scrollbar-thumb:hover {
    background: $main-color;
  }
}
