// 스타일 가이드
// 컬러
$main-color: #0066b3;
$sub-color: #2aaae2;
$imgsub-color: #00dce8;
$notice-1stcolor: #f2f2f2;
$point-color: #ffeb35;
$font-color: #333;
$background-maincolor: #ebeffa;

// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
// 폰트 변수 선언
$font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;

// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "omyu_pretty";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "DWImpactamin";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/DWImpactamin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// 폰트 변수 선언
$font-ownglyph: "YiSunShinDotumM", sans-serif;

@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// 폰트 변수 선언
$font-gothic: "JalnanGothic", sans-serif;

// 폰트(패밀리, 크기 웨이트)
@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// 폰트 변수 선언

$title-font-size-L: 40px;
$title-font-size-m: 30px;
$title-font-size-s: 20px;
$basic-font-size-L: 20px;
$basic-font-size-m: 16px;
$basic-font-size-s: 13px;
$font-weight: normal;
$font-weight: bold;
// 라디우스
$border-radius-L: 30px;
$border-radius-sL: 25px;
$border-radius-m: 20px;
$border-radius-sm: 15px;
$border-radius-s: 10px;
$border-radius-ss: 5px;

// 패딩
$padding-titletopbottom: 150px;
$padding-L: 100px;
$padding-m: 50px;
$padding-s: 30px;
$padding-ss: 20px;
$padding-sss: 10px;

// 마진
$margin-titletopbottom: 150px;
$margin-L: 100px;
$margin-m: 50px;
$margin-s: 30px;
$margin-ss: 20px;
$margin-sss: 10px;

// 쉐도우
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// 호버,엑티브
$hover: #2aaae2;
// 버튼, 모달, 카드,box css
// 모달
$backgroudcolor-color: rgba(0, 0, 0, 0.7);
// 버튼
$modal-txt: 17px;

// 스타일 변수
$border-gray: #b5b5b5;
$blue-sky: #279bf3;
$red-holiday: #e63946;
$blue-weekend: #1a44ff;
$gray-past: #cccccc;
$dark-gray: #333333;
$radius: 8px;
