

// 푸터 .fixed-buttons 영역을 클릭 투명하게
:deep(.fixed-buttons) {
  pointer-events: none !important;
  z-index: 0 !important;
}
// 푸터 안의 a, button 만 클릭 허용
:deep(.fixed-buttons) a,
:deep(.fixed-buttons) button {
  pointer-events: auto !important;
}

// 폰트
body {

}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

// 전체
.wrap_total {
  padding-top: 170px;
  padding-bottom: 100px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  box-sizing: border-box;
}
.line {
  width: 80%;
  border: 1px dashed #dcdcdc;
  margin: 100px 0;
}
@media screen and (max-width: 390px) {
  .title_txt1 h1 {
    font-size: 30px !important;
  }
  .inquiry-btn > img {
    width: 60px !important;
  }
}
